# 第2章: UNIXコマンド

[popular-names.txt](https://nlp100.github.io/data/popular-names.txt)
は，アメリカで生まれた赤ちゃんの「名前」「性別」「人数」「年」をタブ区切り形式で格納したファイルである．以下の処理を行うプログラムを作成し，popular-names.txtを入力ファイルとして実行せよ．さらに，同様の処理をUNIXコマンドでも実行し，プログラムの実行結果を確認せよ．

In [1]:
! wget https://nlp100.github.io/data/popular-names.txt

HTTP による接続要求を送信しました、応答を待っています... 200 OK
長さ: 55026 (54K) [text/plain]
`popular-names.txt' に保存中

popular-names.txt   100%[===================>]  53.74K  --.-KB/s 時間 0.03s

2020-09-05 20:47:46 (1.69 MB/s) - `popular-names.txt' へ保存完了 [55026/55026]

## 10. 行数のカウント

行数をカウントせよ．確認にはwcコマンドを用いよ．

In [2]:
! wc -l popular-names.txt

    2780 popular-names.txt

## 11. タブをスペースに置換

タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [3]:
# Linux
! sed -e 's/\t/ /g' popular-names.txt | head

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabe h	F	1939	1880
Minnie	F	1746	1880
Margare 	F	1578	1880
Ida	F	1472	1880
Alice	F	1414	1880
Ber ha	F	1320	1880
Sarah	F	1288	1880
sed: stdout: Broken pipe

In [4]:
# macOS
! sed -e 's/[[:cntrl:]]/ /g' popular-names.txt | head

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880
sed: stdout: Broken pipe

In [5]:
! tr '\t' ' ' < popular-names.txt | head

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880

In [6]:
! expand -t 1 popular-names.txt | head

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880

## 12. 1列目をcol1.txtに，2列目をcol2.txtに保存

各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [7]:
! cut -f 1 popular-names.txt > col1.txt
! cut -f 2 popular-names.txt > col2.txt
! head col1.txt col2.txt

==> col1.txt <==
Mary
Anna
Emma
Elizabeth
Minnie
Margaret
Ida
Alice
Bertha
Sarah

==> col2.txt <==
F
F
F
F
F
F
F
F
F
F

# 13. col1.txtとcol2.txtをマージ

12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

In [8]:
! paste col1.txt col2.txt > mg.txt
! head mg.txt

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F
Margaret	F
Ida	F
Alice	F
Bertha	F
Sarah	F

## 14. 先頭からN行を出力

自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

In [9]:
! head -10 mg.txt

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F
Margaret	F
Ida	F
Alice	F
Bertha	F
Sarah	F

## 15. 末尾のN行を出力

自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

In [10]:
! tail -10 mg.txt

Liam	M
Noah	M
William	M
James	M
Oliver	M
Benjamin	M
Elijah	M
Lucas	M
Mason	M
Logan	M

## 16. ファイルをN分割する

自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

In [11]:
! split -l 1000 mg.txt
! ls -l x*

-rw-r--r--  1 kioto  staff  8833  9  5 20:47 xaa
-rw-r--r--  1 kioto  staff  8927  9  5 20:47 xab
-rw-r--r--  1 kioto  staff  7318  9  5 20:47 xac

## 17. １列目の文字列の異なり

1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはcut, sort, uniqコマンドを用いよ．

In [12]:
! cut -f 1 popular-names.txt | sort | uniq | head

Abigail
Aiden
Alexander
Alexis
Alice
Amanda
Amelia
Amy
Andrew
Angela

## 18. 各行を3コラム目の数値の降順にソート

各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．

In [13]:
! sort -k 3,3 -r popular-names.txt | head

Linda	F	99689	1947
James	M	9951	1911
Mildred	F	9921	1913
Mary	F	9889	1886
Mary	F	9888	1887
John	M	9829	1900
Elizabeth	F	9708	2012
Anna	F	9687	1913
Frances	F	9677	1914
John	M	9655	1880
sort: Broken pipe

# 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる

各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ．

In [14]:
! cut -f 1 popular-names.txt | sort | uniq -c | sort -r | head

 118 James
 111 William
 108 Robert
 108 John
  92 Mary
  75 Charles
  74 Michael
  73 Elizabeth
  70 Joseph
  60 Margaret